.pulse {
    animation: pulse-animation 2s infinite;
}

@keyframes pulse-animation {
    0% {
        box-shadow: 0 0 0 0px rgba(34, 197, 94, 0.7);
    }

    100% {
        box-shadow: 0 0 0 20px rgba(34, 197, 94, 0);
    }
}

.hospital-marker {
    background: none !important;
    border: none !important;
}

.donor-marker {
    background: none !important;
    border: none !important;
}